body {
    /* font-family: Arial, sans-serif; */
    font-family: PingFangSC-Regular, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* height: 100vh; */
    margin: 0;
    background-color: #0C0C0C;
    color: #EDEDFD;
    border-radius: 24px 24px 24px 24px;
    overflow-x: hidden;
    overflow-y: hidden;
}