body {
    /* font-family: Arial, sans-serif; */
    font-family: PingFangSC-Regular, sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    background-color: #0C0C0C;
    color: #EDEDFD;
    border-radius: 24px 24px 24px 24px;
    /* overflow: hidden; */
}

.container {
    /* display: flex; */
    /* text-align: center; */
}

h1 {
    margin-bottom: 20px;
}

.lists-container {
    /* .word-lists-container{ */
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 20px; */
    justify-content: center;
    overflow-x: auto;
    /* Allow horizontal scrolling for long lists */
    overflow-y: hidden;
    /* Hide vertical scrollbar, as it will be handled by wordList */
    width: 343px;
    height: 170px;
    background: rgba(19, 21, 23, 0.8);
    border-radius: 16px 16px 16px 16px;
    opacity: 1;
}

.wordList {
    margin-right: 20px;
    max-height: 200px;
    /* Set a maximum height for each list */
    overflow-y: auto;
    overflow-x: hidden;
    /* Enable vertical scrolling for long lists */
    width: 90px;
    height: 216px;
    background: rgba(20, 20, 20, 0.3);
    border-radius: 8px 8px 8px 8px;
    opacity: 1;

    font-size: 14px;
    /* font-family: Poppins-Medium, Poppins; */
    font-weight: 500;
    color: #FFFFFF;
}

.wordList li {
    white-space: nowrap;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.welcomepart {
    padding-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

.welcomepart-pic img {
    width: 61px;
    height: 87px;
}

.welcomepart-sentence {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
}

.welcomepart-sentence p {
    margin: 5px 0;
}

.welcomepart-sentence-1 {
    width: 111px;
    height: 16px;
    font-size: 14px;
    /* font-family: Poppins-Medium, Poppins; */
    font-weight: 500;
    color: #EDEDFD;
    line-height: 16px;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.welcomepart-sentence-2 {
    width: 141px;
    height: 22px;
    font-size: 16px;
    /* font-family: Poppins-Medium, Poppins; */
    font-weight: 500;
    color: #EDEDFD;
    line-height: 22px;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.btn-pumpkin {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    text-align: center;
    /* Optional: Center text horizontally within the button */
}

.button-image {
    width: 109px;
    height: 109px;
    margin: 0 auto;
    cursor: pointer;
}

.list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-column img {
    width: 50px;
    height: 50px;
}

.result-chat {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    width: 343px;
    /* height: 200px; */
    /* background: rgba(19, 21, 23, 0.8); */
    border-radius: 16px 16px 16px 16px;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}


.chat-cat1 {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-cat1 p {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid #000;   */
    color: #000;
    font-size: 14px;
}

.chat-cat2 {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-cat2 p {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    /* border: 2px solid #000;   */
    color: #000;
    font-size: 14px;
}

.result-sentence {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    position: relative;
    display: inline-block;
}

.result-sentence img {
    max-width: 343px;
    height: auto;
}

.result-sentence p {
    margin: 10px;
    text-align: center;
}

.rlt-sentce-text {
    /* text-align: center; */
    font-size: 16px;
    color: azure;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: pre-wrap;
    max-width: 230px;
    width: 100%;
}

#popupContainer {
    text-align: center;
    display: none;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;

    width: 303px;
    height: 283px;
    background: #191B1E;
    box-shadow: 5px 4px 13px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    opacity: 1;

    border-width: 10px;
    /* border-image-source: linear-gradient(135deg, #f06, #3c9); */
    /* border-image-source: linear-gradient(135deg,#ffd000fa, #cc3395); */
    border-image-slice: 1;
    border-image-width: 1px;
    border-image-repeat: round;
}

/* Style for the close button */
#popupCloseBtn {
    /* position: absolute; */
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 0px 5px;
    /* Add padding to make the button wider */
    border: 1px solid #ccc;
    /* border-radius: 5px; */
    background-color: #f0f0f0;
}

/* Style for the calendar content */
#calendarContent {
    padding-right: 50px;
    /* Add extra padding to the right of the calendar content */
    color: #333;
}

#calendarSentence {
    color: #FFB487;
}

.calendarPickerImg {
    width: 36px;
    height: 36px;
}

.calendarsentenceImg {
    width: 37px;
    height: 36px;
}

.scrolling-text {
    position: fixed;
    top: 20%;
    /* Vertically center the text */
    right: 0;
    /* Start off-screen on the right */
    white-space: nowrap;
    animation: scrollAnimation 8s linear infinite;
    background-color: red;
    color: yellow;
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(100%);
        /* Move off-screen on the right */
    }

    100% {
        transform: translateX(-100%);
        /* Move off-screen on the left */
    }
}

.calendarDayContent {
    /* width: 105px; */
    height: 32px;
    font-size: 80px;
    /* font-family: Aoboshi One-Regular, Aoboshi One; */
    font-weight: 600;
    color: #FFFFFF;
    line-height: 32px;
    text-shadow: 0px 4px 4px rgba(90, 73, 73, 0.25), -1px 2px 0px rgba(255, 255, 255, 0.25);
    background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    margin-top: 40px;
    margin-bottom: 40px;
}

.calendarWeekContent {
    display: flex;
    justify-content: center;
    /* padding-bottom: 5px; */
    align-items: center;
}

.calendarWeekContent p {
    margin: 4px;
    font-size: 13px;
}

.calendarLunarContent {
    font-size: 12px;
    /* padding: 5px; */
}

.class_calendarUpLineContent {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 5px;
}

.class_calendarUpLineContent_year {
    position: relative;
    text-align: center;
    margin: 0px;
    font-size: 14px;
    padding-left: 11px;

}

/* .class_calendarUpLineContent_year::before, */
.class_calendarUpLineContent_year::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 230px;
    /* width: 190px; */
    height: 1px;
    background: rgba(254, 183, 141, 0.5);
    /* background-color:linear-gradient(135deg,#ffd000fa, #cc3395) ; */
}

/* .class_calendarUpLineContent_year::before {
    left: -107px;
    transform: translateY(-50%);
  } */

.class_calendarUpLineContent_year::after {
    right: -237px;
    /* right: -197px; */
    transform: translateY(-50%);
}

.class_calendarDownLineContent {
    display: flex;
    justify-content: end;
    align-items: center;
}

.class_calendarDownLineContent_md {
    position: relative;
    text-align: center;
    margin: 0px;
    font-size: 14px;
    padding-right: 15px;

}

.class_calendarDownLineContent_md::before {
    /* .class_calendarDownLineContent_md::after { */
    content: '';
    position: absolute;
    top: 50%;
    width: 230px;
    /* width: 190px; */
    height: 1px;
    background: rgba(254, 183, 141, 0.5);
    /* background-color: #FEB78D; */
    /* background-color:linear-gradient(135deg,#ffd000fa, #cc3395) ; */
}

.class_calendarDownLineContent_md::before {
    left: -237px;
    transform: translateY(-50%);
}

/* .class_calendarDownLineContent_md::after {
    right: -107px;
    right: -197px;
    transform: translateY(-50%);
} */

.calendarSentenceContent {
    /* display: flex; */
    justify-content: center;
}

.img_Ellipse_container {
    position: absolute;
    /* bottom: 430px; */
    /* left: 50px; */
    /* width: 103.44px; */
    /*     height: 50%; */
    top: -3%;
    left: 43%;
    z-index: -1;
    /*     display:flex; */
    transform: rotate(0deg);
}

.class_ellipse {
    width: 280.44px;
    height: 283.59px;
    /*     transform: rotate(40deg); */
}
.orange-dot {
    width: 3px;
    height: 3px;
    /* top: 50%; */
    background-color: #FEAF81;
    border-radius: 50%; /* 让元素变成圆形 */
  }
  