body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.lists-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    overflow-x: auto; /* Allow horizontal scrolling for long lists */
}

.wordList {
    margin-right: 20px;
    max-height: 200px; /* Set a maximum height for each list */
    overflow-y: auto; /* Enable vertical scrolling for long lists */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

